### MYSQL
8/6/2022

In [1]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root",passwd="R@ud!n$0903",use_pure=True)

    query = "SHOW DATABASES"

    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('carbon',), ('fitbit',), ('glass',), ('information_schema',), ('mysql',), ('performance_schema',), ('raudin',), ('raudin1',), ('rushi1',), ('sakila',), ('student',), ('student1',), ('sys',), ('test123',), ('world',)]

In [2]:
conn = connection.connect(host="localhost",user="root",passwd="R@ud!n$0903",use_pure=True)

In [3]:
conn.cursor()

In [4]:
cur = conn.cursor()

In [5]:
type(cur.execute("Show Databases"))

NoneType

In [6]:
res = cur.fetchall()
res

[('carbon',),
 ('fitbit',),
 ('glass',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('raudin',),
 ('raudin1',),
 ('rushi1',),
 ('sakila',),
 ('student',),
 ('student1',),
 ('sys',),
 ('test123',),
 ('world',)]

In [7]:
for i in res:
    print(i[0])

carbon
fitbit
glass
information_schema
mysql
performance_schema
raudin
raudin1
rushi1
sakila
student
student1
sys
test123
world

In [8]:
import mysql.connector as connection 

try:
    mydb = connection.connect(host="localhost",user="root",passwd="R@ud!n$0903",use_pure=True)
    print(mydb.is_connected())
    query = "Drop Database IF EXISTS Student"
    query1 = "Create Database Student;"
    cursor = mydb.cursor()
    cursor.execute(query)
    cursor.execute(query1)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!!

In [9]:
mydb = connection.connect(host="localhost",database = "Student" ,user="root",passwd="R@ud!n$0903",use_pure=True)
print(mydb.is_connected())
print(mydb.connection_id)

True
93

In [10]:
cur = mydb.cursor()
cur.execute("Create Table test(x1 INT(5),x2 VARCHAR(20), x3 DATE)")

In [11]:
cur = mydb.cursor()
cur.execute("Insert into test VALUES(5,'HI','2022-06-08')")

In [12]:
mydb.commit()

In [13]:
cur.execute("Insert into test VALUES(8,'Rushi','2022-06-08')")

In [14]:
cur.execute("Insert into test VALUES(15,'Sangam','2022-06-08')")
cur.execute("Insert into test VALUES(87,'Viraj','2022-06-08')")
cur.execute("Insert into test VALUES(98,'Pritam','2022-06-08')")
cur.execute("Insert into test VALUES(54,'Suchit','2022-06-08')")
cur.execute("Insert into test VALUES(34,'Vandana','2022-06-08')")
cur.execute("Insert into test VALUES(9,'Saurabh','2022-06-08')")
cur.execute("Insert into test VALUES(6,'Musab','2022-06-08')")

In [15]:
mydb.commit()

Fetch the Data

In [16]:
cur.execute("select *from test")
cur.fetchall()

[(5, 'HI', datetime.date(2022, 6, 8)),
 (8, 'Rushi', datetime.date(2022, 6, 8)),
 (15, 'Sangam', datetime.date(2022, 6, 8)),
 (87, 'Viraj', datetime.date(2022, 6, 8)),
 (98, 'Pritam', datetime.date(2022, 6, 8)),
 (54, 'Suchit', datetime.date(2022, 6, 8)),
 (34, 'Vandana', datetime.date(2022, 6, 8)),
 (9, 'Saurabh', datetime.date(2022, 6, 8)),
 (6, 'Musab', datetime.date(2022, 6, 8))]

In [17]:
cur.execute("select x1,x2 from test")
for i in cur.fetchall():
    print(i)

(5, 'HI')
(8, 'Rushi')
(15, 'Sangam')
(87, 'Viraj')
(98, 'Pritam')
(54, 'Suchit')
(34, 'Vandana')
(9, 'Saurabh')
(6, 'Musab')

In [18]:
import pandas as pd
import csv

In [20]:
mydb.is_connected()

True

In [21]:
a = pd.read_sql("select *from Student.test",mydb)
a

   x1       x2          x3
0   5       HI  2022-06-08
1   8    Rushi  2022-06-08
2  15   Sangam  2022-06-08
3  87    Viraj  2022-06-08
4  98   Pritam  2022-06-08
5  54   Suchit  2022-06-08
6  34  Vandana  2022-06-08
7   9  Saurabh  2022-06-08
8   6    Musab  2022-06-08

In [22]:
a.to_csv("mydata.csv")

In [23]:
cur = mydb.cursor()
cur.execute("Create table mydata(n1 int(20) , n2 varchar(20), n3 date)")

In [24]:
data = pd.read_csv('mydata.csv')
data

   Unnamed: 0  x1       x2          x3
0           0   5       HI  2022-06-08
1           1   8    Rushi  2022-06-08
2           2  15   Sangam  2022-06-08
3           3  87    Viraj  2022-06-08
4           4  98   Pritam  2022-06-08
5           5  54   Suchit  2022-06-08
6           6  34  Vandana  2022-06-08
7           7   9  Saurabh  2022-06-08
8           8   6    Musab  2022-06-08

In [25]:
pd.read_sql('select *from test',mydb)

   x1       x2          x3
0   5       HI  2022-06-08
1   8    Rushi  2022-06-08
2  15   Sangam  2022-06-08
3  87    Viraj  2022-06-08
4  98   Pritam  2022-06-08
5  54   Suchit  2022-06-08
6  34  Vandana  2022-06-08
7   9  Saurabh  2022-06-08
8   6    Musab  2022-06-08

In [1]:
import mysql.connector as connection
mydb = connection.connect(host="localhost" , user="root", passwd="R@ud!n$0903",use_pure=True)
mydb.is_connected()

True

In [2]:
cur = mydb.cursor()
cur.execute("Drop Database IF EXISTS Glass")
cur.execute("Create Database Glass")
cur.execute("CREATE TABLE Glass.GlassData1 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))")

In [3]:
import csv
with open("D:\Python Programs\Basic\DataBase\glass.data","r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for i in enumerate(data_csv):
        #print(i)
        for j in i[1]:
            #print(type(j))
            cur.execute('insert into Glass.GlassData1 values ({data})'.format(data=(j)))
    print("all the data inserted ")
mydb.commit()

<_csv.reader object at 0x00000246A32B8220>
all the data inserted

In [4]:
import csv
cur = mydb.cursor()
cur.execute("CREATE TABLE Glass.GlassData2 (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))")
with open("D:\Python Programs\Basic\DataBase\glass.data","r") as data:
    next(data)
    data_csv = csv.reader(data,delimiter="\n")
    print(data_csv)
    for j in data_csv:
        cur.execute("insert into Glass.GlassData2 values({data})".format(data=(str(j[0]))))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x00000246A31C59C0>
all the data inserted

9/6/2022

In [34]:
import mysql.connector as connect 
mydb = connection.connect(host="localhost" , user = "root" ,passwd = "R@ud!n$0903" ,use_pure = True)
mydb.is_connected()

True

In [35]:
cur = mydb.cursor()
cur.execute("Drop Database IF EXISTS raudin1")
cur.execute("Create DataBase raudin1")

In [36]:
mydb = connection.connect(host="localhost",database="raudin1",user="root",passwd="R@ud!n$0903",use_pure=True)
cur = mydb.cursor()
cur.execute("Create Table Book(bookid int(4),Title varchar(20) , Price float(5,2))")

In [37]:
cur.execute("INSERT INTO BOOK(bookid,Title,Price) VALUES (1,'Python',345)")
mydb.commit()

In [38]:
S = "INSERT INTO BOOK(bookid,Title,Price) VALUES (%s,%s,%s)"
books = [(2,'Statistics',135),(3,'Machine Learning',450),(4,'NLP',200),(5,'CV',267),(6,'AIOPS',324)]
cur.executemany(S,books)
mydb.commit()

In [39]:
cur.execute("Select *from book")
result = cur.fetchall()
result

[(1, 'Python', 345.0),
 (2, 'Statistics', 135.0),
 (3, 'Machine Learning', 450.0),
 (4, 'NLP', 200.0),
 (5, 'CV', 267.0),
 (6, 'AIOPS', 324.0)]

In [40]:
cur.execute("UPDATE book SET Price = Price+10 WHERE Price >= 200")
mydb.commit()

In [41]:
cur.execute("Select *from book")
result = cur.fetchall()
result

[(1, 'Python', 355.0),
 (2, 'Statistics', 135.0),
 (3, 'Machine Learning', 460.0),
 (4, 'NLP', 210.0),
 (5, 'CV', 277.0),
 (6, 'AIOPS', 334.0)]

In [42]:
cur.execute("DELETE FROM book WHERE Price < 200")
mydb.commit()

In [43]:
pwd

'd:\\Python Programs\\Basic\\DataBase'

### Carbon Nanotubes Data

https://archive.ics.uci.edu/ml/machine-learning-databases/00448/

In [2]:
import mysql.connector as connection
import csv
import logging as lg
import os 

if os.path.exists('database.log'):
    os.remove('database.log')

lg.basicConfig(filename = 'database.log',level=lg.INFO,format='%(asctime)s - %(message)s')
console_log = lg.StreamHandler()
console_log.setLevel(lg.DEBUG)
format = lg.Formatter('%(asctime)s - %(message)s')
console_log.setFormatter(format)
lg.getLogger('').addHandler(console_log)
lg.info("Logging Started")

try:
    mydb = connection.connect(host="localhost",database="Carbon",user="root",passwd="R@ud!n$0903")
    if mydb.is_connected():
        lg.info('Establishing connection........')
        lg.info('Connection Established with the database!!')

        cur = mydb.cursor()
        cur.execute('Drop TABLE IF EXISTS carbon_Nanotubes')
        lg.info('Creating Table.......')
        cur.execute("Create Table carbon_nanotubes(Chiral_indice_n INT(7), Chiracl_indice_m INT(7),Initial_atomic_coordinate_u INT(7),Initial_atomic_coordinate_v INT(7),Initial_atomic_coordinate_w INT(7),Calculated_atomic_coordinate_u INT(7),Calculated_atomic_coordiante_v INT(7),Calculated_atomic_coordinate_w INT(7))")
        lg.info("Table Created!!")
        
        with open('carbon_nanotubes.csv','r') as data:
            lg.info('Starting Record insertion....\n')
            next(data)
            data_csv = csv.reader(data,delimiter='\n')
            for num,record in enumerate(data_csv,start = 1):
                rec = record[0].split(';')
                record_processed = [int(i.split(',')[1]) if len(i.split(',')) > 1 else int(i) for i in rec]
                record_processed = ','.join([str(elem) for elem in record_processed])
                cur.execute("Insert Into carbon_nanotubes values({values})".format(values = record_processed))
                
        lg.info(f'Record {num} Inserted')
        lg.info("All Records Inserted")
        mydb.commit()

except Exception as e:
    lg.error(str(e))
    mydb.close()

finally:
    if mydb.is_connected():
        cur.close()
        lg.info("Connection Closed")
        lg.shutdown()

2022-09-05 19:48:58,666 - Logging Started
2022-09-05 19:48:58,666 - Logging Started
2022-09-05 19:48:58,679 - Establishing connection........
2022-09-05 19:48:58,679 - Establishing connection........
2022-09-05 19:48:58,680 - Connection Established with the database!!
2022-09-05 19:48:58,680 - Connection Established with the database!!
2022-09-05 19:48:58,709 - Creating Table.......
2022-09-05 19:48:58,709 - Creating Table.......
2022-09-05 19:48:58,750 - Table Created!!
2022-09-05 19:48:58,750 - Table Created!!
2022-09-05 19:48:58,752 - Starting Record insertion....

2022-09-05 19:48:58,752 - Starting Record insertion....

2022-09-05 19:49:00,963 - Record 10721 Inserted
2022-09-05 19:49:00,963 - Record 10721 Inserted
2022-09-05 19:49:00,964 - All Records Inserted
2022-09-05 19:49:00,964 - All Records Inserted
2022-09-05 19:49:00,980 - Connection Closed
2022-09-05 19:49:00,980 - Connection Closed

In [3]:
import mysql.connector as connect
import pandas as pd
import csv 
mydb = connect.connect(host="localhost",database="Carbon",user="root",passwd="R@ud!n$0903")
print(mydb.is_connected())
a = pd.read_sql("select *from Carbon.carbon_nanotubes",mydb)
print(a)
a.to_csv("New_Carbon_nanotubes.csv")

2022-09-05 19:49:42,708 - NumExpr defaulting to 4 threads.
2022-09-05 19:49:42,708 - NumExpr defaulting to 4 threads.

True
       Chiral_indice_n  Chiracl_indice_m  Initial_atomic_coordinate_u  \
0                    2                 1                       679005
1                    2                 1                       717298
2                    2                 1                       489336
3                    2                 1                       413957
4                    2                 1                       334292
...                ...               ...                          ...
10716               12                 6                       834201
10717               12                 6                       698374
10718               12                 6                       923823
10719               12                 6                       934978
10720               12                 6                       953664

       Initial_atomic_coordinate_v  Initial_atomic_coordinate_w  \
0                           701318                        17033
1                           642129                       231319
2                           303751                        88462
3                           632996                        40843
4                           543401                        15989
...                            ...                          ...
10716                       399891                        89127
10717                        24471                       962699
10718                       568913                       819842
10719                       602319                       938889
10720                       698374                       962699

       Calculated_atomic_coordinate_u  Calculated_atomic_coordiante_v  \
0                              721039                          730232
1                              738414                           65675
2                              477676                          263221
3                              408823                          657897
4                              303349                          558807
...                               ...                             ...
10716                          841858                          405882
10717                          706555                          248416
10718                          929403                          576284
10719                          941844                          610608
10720                          961243                          707812

       Calculated_atomic_coordinate_w
0                               17014
1                              232369
2                               88712
3                               39796
4                              157373
...                               ...
10716                          891356
10717                          962833
10718                          819879
10719                          938755
10720                          962605

[10721 rows x 8 columns]

In [4]:
data = pd.read_csv('New_Carbon_nanotubes.csv')
data

,Unnamed: 0,Chiral_indice_n,Chiracl_indice_m,Initial_atomic_coordinate_u,Initial_atomic_coordinate_v,Initial_atomic_coordinate_w,Calculated_atomic_coordinate_u,Calculated_atomic_coordiante_v,Calculated_atomic_coordinate_w
0,0,2,1,679005,701318,17033,721039,730232,17014
1,1,2,1,717298,642129,231319,738414,65675,232369
2,2,2,1,489336,303751,88462,477676,263221,88712
3,3,2,1,413957,632996,40843,408823,657897,39796
4,4,2,1,334292,543401,15989,303349,558807,157373
...,...,...,...,...,...,...,...,...,...
10716,10716,12,6,834201,399891,89127,841858,405882,891356
10717,10717,12,6,698374,24471,962699,706555,248416,962833
10718,10718,12,6,923823,568913,819842,929403,576284,819879
10719,10719,12,6,934978,602319,938889,941844,610608,938755
10720,10720,12,6,953664,698374,962699,961243,707812,962605

### Pymongo  MongoDB

In [1]:
# !python -m pip install pymongo

In [4]:
%pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\python310\lib\site-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\python310\lib\site-packages (from pymongo[srv]) (2.2.1)

MongoDB Compass

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### STEP 1: Create a DB

In [2]:
db_1 = client["Rushikesh"]

In [3]:
client.list_database_names()

['Courses',
 'Employee',
 'Rushi',
 'Rushikesh',
 'Students1',
 'admin',
 'config',
 'local',
 'mylib',
 'oldStudents',
 'slab',
 'students']

### STEP 2: Create a collection

In [4]:
collection = db_1["Test"]
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Rushikesh'), 'Test')

### STEP 3: Insert a record in the collection

In [6]:
record = {'companyName':'iNeuron','product':'Affordable AI','courseoffered':'Deep Learnning for Computer vision'}
collection.insert_one(record)

In [7]:
record = {'companyName':'iNeuron','product':'Affordable AI',
        'courseoffered':'Deep Learnning for Computer vision',
        'name':["Rushi","Kesh",985643]}
collection.insert_one(record)

### STEP 4: Insert multiple records

In [8]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program',
    "test" : "ffsdfsffsf",
     "complex" : [{"name" : "sudhanshu","list" : [554,545,454,54,5,4]},{"email_id" :"sudhanshu@dffsf"},{"phone_no":345345345353},[4,54,534,5,45,5,45,4]]
    }]
    
rec = collection.insert_many(list_of_records)

In [9]:
collection.find_one()

{'_id': ObjectId('62a46c10d912b0c961a7d526'),
 'companyName': 'iNeuron',
 'product': 'Affordable AI',
 'courseoffered': 'Deep Learnning for Computer vision'}

In [10]:
# lets print the unique ID that of the record that we have inserted -

inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 62a46c13d912b0c961a7d528
1. 62a46c13d912b0c961a7d529
2. 62a46c13d912b0c961a7d52a

In [11]:
COLLECTION_NAME = "iNeuron_Faculties"
faculties = db_1[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "6",
    "companyName": "iNeuron",
    "Faculty": "Sudhanshu Kumar"},
    {"_id": "8",
    "companyName": "iNeuron",
    "Faculty": "Virat Sagar"},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

### STEP 5: Find method in MongoDB

In [12]:
find_first_record = faculties.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\
\n{find_first_record}")

The first record of collection:
iNeuron_Faculties is=
{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

In [13]:
for i in faculties.find():
    print(i)

{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': '8', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [14]:
for i in collection.find():
    print(i)

{'_id': ObjectId('62a46c10d912b0c961a7d526'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision'}
{'_id': ObjectId('62a46c11d912b0c961a7d527'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision', 'name': ['Rushi', 'Kesh', 985643]}
{'_id': ObjectId('62a46c13d912b0c961a7d528'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('62a46c13d912b0c961a7d529'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('62a46c13d912b0c961a7d52a'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

### STEP 6: Query or filter out data in MongoDB

In [15]:
for i in faculties.find({'Faculty':"Virat Sagar"}):
    print(i)

{'_id': '8', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [16]:
for i in faculties.find({'_id':{'$gt':'1'}}):
    print(i)

{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': '8', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [17]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

faculties.insert_many(random_data)

### STEP 7: Delete one or many documents in MongoDB

In [20]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

faculties.delete_one(query_to_delete)

In [21]:
for i in faculties.find({"_id": {"$gte": "3"}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': '8', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [22]:
faculties.delete_many({"_id": {"$gte": "6"}})

In [23]:
multi_query_to_delete = {"_id":{"$gte":"6"}}
faculties.delete_many(multi_query_to_delete)

### STEP 8: Drop the entire collection

In [24]:
faculties.drop()

### STEP 9: Update

In [33]:
COLLECTION_NAME = "Test"

products = db_1[COLLECTION_NAME]

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('62a46c10d912b0c961a7d526'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision'}

{'_id': ObjectId('62a46c11d912b0c961a7d527'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision', 'name': ['Rushi', 'Kesh', 985643]}

{'_id': ObjectId('62a46c13d912b0c961a7d528'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

{'_id': ObjectId('62a46c13d912b0c961a7d529'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('62a46c13d912b0c961a7d52a'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

In [34]:
present_data = {'courseOffered': 'Machine Learning with Deployment'}
new_data = {"$set":{'courseOffered': 'ML and DL with Deployment'}}

In [35]:
products.update_one(present_data, new_data)

In [36]:
all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('62a46c10d912b0c961a7d526'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision'}

{'_id': ObjectId('62a46c11d912b0c961a7d527'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision', 'name': ['Rushi', 'Kesh', 985643]}

{'_id': ObjectId('62a46c13d912b0c961a7d528'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'ML and DL with Deployment'}

{'_id': ObjectId('62a46c13d912b0c961a7d529'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('62a46c13d912b0c961a7d52a'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

In [38]:
present_data = {'companyName': 'iNeuron'}
new_data = {"$set": {'companyName': 'iNeuron.ai'}}
products.update_many(present_data, new_data)

In [39]:
all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('62a46c10d912b0c961a7d526'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision'}

{'_id': ObjectId('62a46c11d912b0c961a7d527'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision', 'name': ['Rushi', 'Kesh', 985643]}

{'_id': ObjectId('62a46c13d912b0c961a7d528'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseOffered': 'ML and DL with Deployment'}

{'_id': ObjectId('62a46c13d912b0c961a7d529'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('62a46c13d912b0c961a7d52a'), 'companyName': 'iNeuron.ai', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

### STEP 9: Set limit to view N records

In [40]:
N_records = 3

N_record = products.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('62a46c10d912b0c961a7d526'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision'}

{'_id': ObjectId('62a46c11d912b0c961a7d527'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseoffered': 'Deep Learnning for Computer vision', 'name': ['Rushi', 'Kesh', 985643]}

{'_id': ObjectId('62a46c13d912b0c961a7d528'), 'companyName': 'iNeuron.ai', 'product': 'Affordable AI', 'courseOffered': 'ML and DL with Deployment'}

14/6/2022

In [1]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb = client['Employee']

In [2]:
information = mydb.empinfo

In [3]:
record = { 'firstname':'Rushi','lastname':'Khandare','department':'AI Engineer'}
information.insert_one(record)

In [4]:
records = [{'firstname':'Krish','lastname':'Naik','department':'Analytics'},
           {'firstname':'Sudhanshu','lastname':'Kumar','department':'CEO of iNeuron'},
           {'firstname':'Hitesh','lastname':'Chaudhary','department':'CTO of iNeuron'}]
information.insert_many(records)

In [10]:
records = [{'firstname':'Sunny','lastname':'Dhalape','department':'Analytics','qualification':'BSC','age':22},
           {'firstname':'Snehal','lastname':'Randive','department':'Civil','qualificatin':'BE','age':24},
           {'firstname':'Ramkrishna','lastname':'Pise','department':'IT','qualification':'BE','age':21},
           {'firstname':'Ketaki','lastname':'Badave','department':'Software Development','qualification':'phd','age':27},
           {'firstname':'Vinod','lastname':'Khandare','department':'ICICI','qualification':'B.COM','age':36},
           {'firstname':'Aniket','lastname':'Changan','department':'Agriculture','qualification':'BSC','age':22}]
information.insert_many(records)

In [11]:
information.find_one()

{'_id': ObjectId('62a8896d7e1c3a7e6fde3bce'),
 'firstname': 'Rushi',
 'lastname': 'Khandare',
 'department': 'AI Engineer'}

In [12]:
for i in information.find({}):
    print(i)

{'_id': ObjectId('62a8896d7e1c3a7e6fde3bce'), 'firstname': 'Rushi', 'lastname': 'Khandare', 'department': 'AI Engineer'}
{'_id': ObjectId('62a88abf7e1c3a7e6fde3bcf'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics'}
{'_id': ObjectId('62a88abf7e1c3a7e6fde3bd0'), 'firstname': 'Sudhanshu', 'lastname': 'Kumar', 'department': 'CEO of iNeuron'}
{'_id': ObjectId('62a88abf7e1c3a7e6fde3bd1'), 'firstname': 'Hitesh', 'lastname': 'Chaudhary', 'department': 'CTO of iNeuron'}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd2'), 'firstname': 'Sunny', 'lastname': 'Dhalape', 'department': 'Analytics', 'qualification': 'BSC', 'age': 22}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd3'), 'firstname': 'Snehal', 'lastname': 'Randive', 'department': 'Civil', 'qualificatin': 'BE', 'age': 24}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd4'), 'firstname': 'Ramkrishna', 'lastname': 'Pise', 'department': 'IT', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd5'), 'firstname': 'Ketaki', 'lastname': 'Badave', 'department': 'Software Development', 'qualification': 'phd', 'age': 27}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd6'), 'firstname': 'Vinod', 'lastname': 'Khandare', 'department': 'ICICI', 'qualification': 'B.COM', 'age': 36}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd7'), 'firstname': 'Aniket', 'lastname': 'Changan', 'department': 'Agriculture', 'qualification': 'BSC', 'age': 22}

In [13]:
for i in information.find({'firstname':'Rushi'}):
    print(i)

{'_id': ObjectId('62a8896d7e1c3a7e6fde3bce'), 'firstname': 'Rushi', 'lastname': 'Khandare', 'department': 'AI Engineer'}

In [14]:
for i in information.find({'qualification':{'$in':['phd','BE']}}):
    print(i)

{'_id': ObjectId('62a895717e1c3a7e6fde3bd4'), 'firstname': 'Ramkrishna', 'lastname': 'Pise', 'department': 'IT', 'qualification': 'BE', 'age': 21}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd5'), 'firstname': 'Ketaki', 'lastname': 'Badave', 'department': 'Software Development', 'qualification': 'phd', 'age': 27}

In [15]:
for i in information.find({'qualification':'BSC','age':{'$lt':25}}):
    print(i)

{'_id': ObjectId('62a895717e1c3a7e6fde3bd2'), 'firstname': 'Sunny', 'lastname': 'Dhalape', 'department': 'Analytics', 'qualification': 'BSC', 'age': 22}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd7'), 'firstname': 'Aniket', 'lastname': 'Changan', 'department': 'Agriculture', 'qualification': 'BSC', 'age': 22}

In [16]:
for i in information.find({'$or':[{'firstname':'Snehal'},{'qualification':'BE'}]}):
    print(i)

{'_id': ObjectId('62a895717e1c3a7e6fde3bd3'), 'firstname': 'Snehal', 'lastname': 'Randive', 'department': 'Civil', 'qualificatin': 'BE', 'age': 24}
{'_id': ObjectId('62a895717e1c3a7e6fde3bd4'), 'firstname': 'Ramkrishna', 'lastname': 'Pise', 'department': 'IT', 'qualification': 'BE', 'age': 21}

In [17]:
inventory = mydb.inventory

In [18]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

In [20]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [21]:
for i in inventory.find({'qty':100}):
    print(i)

{'_id': ObjectId('62a899ca7e1c3a7e6fde3bda'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62a89e3b7e1c3a7e6fde3bdd'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}

### MongoDb with python Updating Json Documents
Functions to Discuss
1. pymongo.collection.Collection.update_one()
2. pymongo.collection.Collection.update_many()
3. pymongo.collection.Collection.replace_one()

In [22]:
inventory.update_one({'item':'canvas'},{'$set':{'size.uom':'m','status':'P'},'$currentDate':{'lastModified':True}})

In [24]:
for i in inventory.find({'item':'canvas'}):
    print(i)

{'_id': ObjectId('62a89e3b7e1c3a7e6fde3bdd'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'm'}, 'status': 'P', 'lastModified': datetime.datetime(2022, 6, 14, 14, 44, 43, 802000)}

In [25]:
inventory.update_many({'qty':{'$lt':50}},{'$set':{'size.uom':'in','status':'P'},'$currentDate':{'lastModified':True}})

In [27]:
for i in inventory.find({'qty':{'$lt':50}}):
    print(i)

{'_id': ObjectId('62a899ca7e1c3a7e6fde3bd8'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2022, 6, 14, 14, 49, 21, 512000)}
{'_id': ObjectId('62a899ca7e1c3a7e6fde3bdc'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2022, 6, 14, 14, 49, 21, 512000)}
{'_id': ObjectId('62a89e3b7e1c3a7e6fde3bdf'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2022, 6, 14, 14, 49, 21, 512000)}

In [28]:
inventory.replace_one({'item':'paper'},{'item':'paper','instock':[{'warehouse':'A','qty':60},{'warehouse':'B','qty':'40'}]})

In [29]:
for i in inventory.find({'item':'paper'}):
    print(i)

{'_id': ObjectId('62a899ca7e1c3a7e6fde3bda'), 'item': 'paper', 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': '40'}]}

### Mongodb Aggregate And Group
1. avg
2. sum
3. project

In [39]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")  
mydatabase = client['Students1']  
collection = mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [42]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('62a8a4507e1c3a7e6fde3bf8'), 'user': 'Krish', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('62a8a4507e1c3a7e6fde3bf9'), 'user': 'Amit', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('62a8a4507e1c3a7e6fde3bfa'), 'user': 'Amit', 'title': 'Database', 'score': 85}
{'_id': ObjectId('62a8a4507e1c3a7e6fde3bfb'), 'user': 'Krish', 'title': 'JavaScript', 'score': 75}
{'_id': ObjectId('62a8a4507e1c3a7e6fde3bfc'), 'user': 'Amit', 'title': 'Data Science', 'score': 60}
{'_id': ObjectId('62a8a4507e1c3a7e6fde3bfd'), 'user': 'Krish', 'title': 'Data Science', 'score': 95}

In [43]:
agg_result = collection.aggregate([{'$group':{'_id':'$user','Total Subject':{'$sum':1}}}])

for i in agg_result:
    print(i)

{'_id': 'Amit', 'Total Subject': 3}
{'_id': 'Krish', 'Total Subject': 3}

In [44]:
agg_result = collection.aggregate([{'$group':{'_id':'$user','Total Marks':{'$sum':'$score'}}}])

for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [45]:
agg_result = collection.aggregate([{'$group':{'_id':'$user','StudentScoreAverage':{'$avg':'$score'}}}])

for i in agg_result:
    print(i)

{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}

In [46]:
import datetime as datetime

In [47]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [48]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492780)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492780)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492780)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492780)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492780)}]

In [49]:
mycollection = mydatabase['Stores']
mycollection.insert_many(data)

In [50]:
for i in mycollection.find({}):
    print(i)

{'_id': 1, 'item': 'abc', 'price': 10, 'quantity': 2, 'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492000)}
{'_id': 2, 'item': 'jkl', 'price': 20, 'quantity': 1, 'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492000)}
{'_id': 3, 'item': 'xyz', 'price': 5, 'quantity': 5, 'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492000)}
{'_id': 4, 'item': 'abc', 'price': 10, 'quantity': 10, 'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492000)}
{'_id': 5, 'item': 'xyz', 'price': 5, 'quantity': 10, 'date': datetime.datetime(2022, 6, 14, 15, 31, 15, 492000)}

In [51]:
agg_result = mycollection.aggregate([{'$group':{'_id':'$item','avgAmount':{'$avg':{'$multiply':['$price','$quantity']}},
                                      'avgQuantity':{'$avg':'$quantity'}}}])

for i in agg_result:
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [53]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}]

collection = mydatabase['Books']
collection.insert_many(data)

In [54]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}

## Cassandra Datastax Cloud

In [2]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\python310\lib\site-packages (3.25.0)
Requirement already satisfied: six>=1.9 in c:\python310\lib\site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\python310\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in c:\python310\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.3)
Requirement already satisfied: colorama in c:\python310\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.4)

In [14]:
import cassandra 
print (cassandra.__version__)

3.25.0

In [30]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\Python Programs\Basic\DataBase\secure-connect-datascience.zip'
}
auth_provider = PlainTextAuthProvider('DUazUsATrhptYnfuFWsfTkiq', 'w8AuD9fvCiJlgnLD,CjWDXYmw7gM1RX_2-opdpE6yyzBdhmDk6KZ3cY3bht3w_91MlLZ91KM07lKpwPv+0cGh5ZH35imr5G2Lcdc+CPZL4CIA8_TqaYib_kff8o9HTPp')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [31]:
# create keyspace in database

row = session.execute("CREATE KEYSPACE home1 WITH replication = {'class': 'NetworkTopologyStrategy', 'asia-south1': '3'}  AND durable_writes = true;")

Unauthorized: Error from server: code=2100 [Unauthorized] message="Missing correct permission on home1."

In [32]:
#use keyspace
row=session.execute("use home")

In [24]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\Python Programs\Basic\DataBase\secure-connect-datascience.zip'
}
auth_provider = PlainTextAuthProvider('DUazUsATrhptYnfuFWsfTkiq', 'w8AuD9fvCiJlgnLD,CjWDXYmw7gM1RX_2-opdpE6yyzBdhmDk6KZ3cY3bht3w_91MlLZ91KM07lKpwPv+0cGh5ZH35imr5G2Lcdc+CPZL4CIA8_TqaYib_kff8o9HTPp')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

# create keyspace in database
row = session.execute("select release_version from system.local").one()
print(row)

Row(release_version='4.0.0.6816')

In [33]:
#use keyspace
row=session.execute("use home")

In [35]:
row = session.execute("SELECT*FROM system_schema.keyspaces").one()
print(row)

Row(keyspace_name='system_auth', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('asia-south1', '3'), ('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy')]))

## Create a Table into home Database

In [36]:
row = session.execute(" CREATE TABLE home.emp123(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_sal varint,emp_phone varint);").one()
print(row)

None

## Insert data in Table

In [41]:
row = session.execute("insert into home.emp123(emp_id,emp_name,emp_city,emp_sal,emp_phone) VALUES(%s,%s,%s,%s,%s)",[1,'Rushi','Mumbai',75000,984534])

In [48]:
i1 = "insert into home.emp123(emp_id,emp_name,emp_city,emp_sal,emp_phone) VALUES(%s,%s,%s,%s,%s)"
v1 = [2,'Saurabh','Mumbai',73000,984535]
v2 = [3,'Snehal','Pune',78000,984536]
v3 = [4,'Ramkrishna','Pune',76000,984537]
v4 = [5,'Musab','Kolkata',45000,984538]
row = session.execute(i1,v4)

### Select all data from a table

In [61]:
row = session.execute('Select *from home.emp123')
for i in row:
    print(i[0],'|',i[1],'|',i[2],'|',i[3],'|',i[4])

5 | Kolkata | Musab | 984538 | 45000
1 | Mumbai | Rushi | 984534 | 75000
2 | Mumbai | Saurabh | 984535 | 73000
4 | Pune | Ramkrishna | 984537 | 76000
3 | Pune | Snehal | 984536 | 78000

### Select a Specific record

In [70]:
ss= session.prepare("select * from  home.emp123 where emp_id = ? ;")

res= session.execute(ss,[3])
for i in res:
    print(i[0],'|',i[1],'|',i[2],'|',i[3],'|',i[4])

3 | Pune | Snehal | 984536 | 78000

### Update a record in Emp

In [64]:
prepare_st= "update home.emp123 SET emp_sal= ?,emp_name= ? where emp_id= ? ;"
prepare_ud= session.prepare(prepare_st)
session.execute(prepare_ud,[74000,'Musab',5])

In [66]:
row = session.execute('select *from home.emp123')
for i in enumerate(row):
    print(i)

(0, Row(emp_id=5, emp_city='Kolkata', emp_name='Musab', emp_phone=984538, emp_sal=74000))
(1, Row(emp_id=1, emp_city='Mumbai', emp_name='Rushi', emp_phone=984534, emp_sal=75000))
(2, Row(emp_id=2, emp_city='Mumbai', emp_name='Saurabh', emp_phone=984535, emp_sal=73000))
(3, Row(emp_id=4, emp_city='Pune', emp_name='Ramkrishna', emp_phone=984537, emp_sal=76000))
(4, Row(emp_id=3, emp_city='Pune', emp_name='Snehal', emp_phone=984536, emp_sal=78000))

## Insert Multiple Records to DB

In [67]:
from cassandra.query import BatchStatement

qr1= "insert into home.emp123(emp_id,emp_city,emp_name,emp_phone,emp_sal) values(%s,%s,%s,%s,%s)"
batch = BatchStatement()
batch.add(qr1,[6,'Thane','Vishnu',984539,200000])
batch.add(qr1,[7,'Benguluru','Krish',984540,280000])
batch.add(qr1,[8,'Benguluru','Rahul',984541,50000])
session.execute(batch)
print('Insert completed')

Insert completed

In [71]:
row = session.execute('select *from home.emp123')
for i in row:
    print(i[0],'|',i[1],'|',i[2],'|',i[3],'|',i[4])

5 | Kolkata | Musab | 984538 | 74000
1 | Mumbai | Rushi | 984534 | 75000
8 | Benguluru | Rahul | 984541 | 50000
2 | Mumbai | Saurabh | 984535 | 73000
4 | Pune | Ramkrishna | 984537 | 76000
7 | Benguluru | Krish | 984540 | 280000
6 | Thane | Vishnu | 984539 | 200000
3 | Pune | Snehal | 984536 | 78000

## Delete a record from EMP

In [72]:
dt_rec= "delete from home.emp123 where emp_id= ?;"
dt_st= session.prepare(dt_rec)
session.execute(dt_st,[8])
print('Record deleted successfully...')

Record deleted successfully...

## Insert data from a CSV file to Cassandra DB

In [91]:
import csv
with open('mydata.csv','r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
    #csv reader object
    print(data_csv)
    all_value= []
    session.execute("Create table home.emp122(emp_id int PRIMARY KEY,First_name text,Date text);")
    for i in data_csv:
        print(i)
        session.execute("insert into home.emp122(emp_id,First_name,Date) values(%s,%s,%s)",[int(i[1]),i[2],i[3]])
print('Finished')

<_csv.reader object at 0x000001A5E723A140>
['0', '5', 'HI', '2022-06-08']
['1', '8', 'Rushi', '2022-06-08']
['2', '15', 'Sangam', '2022-06-08']
['3', '87', 'Viraj', '2022-06-08']
['4', '98', 'Pritam', '2022-06-08']
['5', '54', 'Suchit', '2022-06-08']
['6', '34', 'Vandana', '2022-06-08']
['7', '9', 'Saurabh', '2022-06-08']
['8', '6', 'Musab', '2022-06-08']
Finished

In [94]:
row = session.execute('Select *from home.emp122')
for i in row:
    print(i)

Row(emp_id=5, date='2022-06-08', first_name='HI')
Row(emp_id=8, date='2022-06-08', first_name='Rushi')
Row(emp_id=15, date='2022-06-08', first_name='Sangam')
Row(emp_id=98, date='2022-06-08', first_name='Pritam')
Row(emp_id=54, date='2022-06-08', first_name='Suchit')
Row(emp_id=6, date='2022-06-08', first_name='Musab')
Row(emp_id=9, date='2022-06-08', first_name='Saurabh')
Row(emp_id=34, date='2022-06-08', first_name='Vandana')
Row(emp_id=87, date='2022-06-08', first_name='Viraj')

In [ ]:
session.execute('Drop table home.emp122')