In [1]:
print("Hello World")

Hello World

In [2]:
name = "Himesh"

In [3]:
print(name)

Himesh

In [4]:
print('Hey '+ name)

Hey Himesh

In [5]:
age = 20

In [6]:
country = 'India'

In [7]:
print(name, age, country)

Himesh 20 India

In [8]:
print('My name is :',name , 'age :',age, 'Lives in :',country)

My name is : Himesh age : 20 Lives in : India

In [9]:
("My name is : %s and i am %s years old and i stays in : %s"%\
   (name,age,country))

'My name is : Himesh and i am 20 years old and i stays in : India'

In [10]:
marks = 67.78

In [11]:
print("My name is : %s and i am %s years old and i stays in : %s and i got %s"%\
   (name,age,country,marks))

My name is : Himesh and i am 20 years old and i stays in : India and i got 67.78

### Errors

In [12]:
# 1 Error
print("My name is : %s and i am %s years old and i stays in : %s and i got %s"%\
   (name,age,country))

TypeError: not enough arguments for format string

In [13]:
# 2 Error 
print("My name is : %s and i am %s years old and i stays in : %s and i got %s"%\
   (marks,age,country,name))

My name is : 67.78 and i am 20 years old and i stays in : India and i got Himesh

In [14]:
print("My name is : {} and i am {} years old and i stays in : {} and i got {}"\
  .format(name,age,country,marks))

My name is : Himesh and i am 20 years old and i stays in : India and i got 67.78

### Change the Argument position

In [15]:
print("My name is : {0} and i am {1} years old and i stays in : {2} and i got {3} "\
    .format(name,age,country,marks))

My name is : Himesh and i am 20 years old and i stays in : India and i got 67.78

In [16]:
print("My name is : {3} and i am {1} years old and i stays in : {0} and i got {3} "\
    .format(name,age,country,marks))

My name is : 67.78 and i am 20 years old and i stays in : Himesh and i got 67.78

In [17]:
# fstring
print(f'')
print(f"")

In [18]:
print(f'My name is : {name} and i am {age} years old and i stays in : {country} and i got {marks}')

My name is : Himesh and i am 20 years old and i stays in : India and i got 67.78

In [19]:
print(f'My name is : {"Himesh"} and i am {"19"} years old and i stays in : {"India"} and i got {"89.90"}')

My name is : Himesh and i am 19 years old and i stays in : India and i got 89.90

In [20]:
print(f"2+2")

2+2

In [21]:
print(f"{2+2}")

4

In [22]:
print(f"{2-6}")

-4

In [23]:
print(f"{78/56}")

1.3928571428571428

In [24]:
print(f"{78%56}")

22

In [25]:
print(f"Programming Language : {'Python'}")

Programming Language : Python

In [26]:
'''

'''

'\n\n'

In [27]:
"""
a
b
c

"""

'\na\nb\nc\n\n'

In [28]:
print("""hi""")

hi

In [29]:
print('''hi''')

hi

In [30]:
print(f'''{2+2}''')

4

In [31]:
a,b,c = 23,"This is my age","Ha!"
a

23

In [32]:
b

'This is my age'

In [33]:
c

'Ha!'

In [34]:
a,b,c

(23, 'This is my age', 'Ha!')

In [35]:
print(a,b,c)

23 This is my age Ha!

In [36]:
print(True+True+True+False+True) # True =1 , False = 0

4

In [37]:
print(True+True-False)
print(False-True+True)

2
0

In [38]:
False/True

0.0

In [39]:
# Complex Number
n = 45+7j
type(n)

complex

In [40]:
re = n.real  #Real part
imge = n.imag #Imaginary part
print(re)
print(imge)

45.0
7.0

In [41]:
m = 56 +9j
n*m

(2457+797j)

## Loops

While loop

In [42]:
a = 0
while a <= 12:
    print(a)
    a +=2

0
2
4
6
8
10
12

In [43]:
b = 15
while b>= 0:
    print(b)
    b -= 3

15
12
9
6
3
0

In [44]:
notes = 5
i = 1
j = 1
while i < notes:
    print(i)
    i += 1
else:
    while j < 2:
        print(j)
        print("No 10 rs notes are available")
        j+=1

1
2
3
4
1
No 10 rs notes are available

In [45]:
n = 8
i = 0
while i<n:
    print(' '*(n-i-1) + '+ '*(i+1))
    i +=1

       +
      + +
     + + +
    + + + +
   + + + + +
  + + + + + +
 + + + + + + +
+ + + + + + + +

In [46]:
i=1
k=1 #for printing starts with the increament of 2
while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    k=k+2
    i=i+1

    *
   ***
  *****
 *******
*********

In [47]:
n = 8
i = 0                  # Rows  
while(i<n):
    i +=1              # Row increased
    s = n - i          # Spaces
    count = 0          # Spaces Count
    while(count < s):
        print(" ",end=" ")
        count +=1

    m = 2*i - 1        # Stars  
    while(m>0):
        print("+ ",end=" ")
        m -=1
    print("\r")

              +
            +  +  +
          +  +  +  +  +
        +  +  +  +  +  +  +
      +  +  +  +  +  +  +  +  +
    +  +  +  +  +  +  +  +  +  +  +
  +  +  +  +  +  +  +  +  +  +  +  +  +
+  +  +  +  +  +  +  +  +  +  +  +  +  +  +

For Loop

In [48]:
string = 'Rushikesh'
for i in string:
    print(i)

R
u
s
h
i
k
e
s
h

In [49]:
# with end=  function 
for i in string:
    print(i,end=" ")

R u s h i k e s h

In [50]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ",end="")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [51]:
n = int(input("Enter the number: ")) #8
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
        
    for j in range(2*i-1):
        print('*',end='')
    print("\r")

*************
 ***********
  *********
   *******
    *****
     ***
      *

In [52]:
m = 2*n - 2
for i in range(n,-1,-1):
    for j in range(m,0,-1):
        print(end=" ") 
    m = m+1
    for j in range(0,i+1):
        print("*",end=" ")
    print(" ")

            * * * * * * * *
             * * * * * * *
              * * * * * *
               * * * * *
                * * * *
                 * * *
                  * *
                   *

## Input Function

In [53]:
#input
name = input()
name

'Lets Upgrate'

In [54]:
name= input("Please Enter your name :")
name

'Rushikesh'

In [55]:
type(name)

str

In [56]:
age = input("Please Enter your age :")
age

'22'

In [57]:
type(age)

str

In [58]:
age = int(input("Please Enter your age :"))# 22
age+8

30

In [59]:
marks = input("Marks :")
marks

'98.99'

In [60]:
type(marks)

str

In [61]:
marks = float(input("Exact Marks :") )#94.23
marks+2.5

101.17

In [62]:
condition = input("") # True
condition

'True'

In [63]:
type(condition)

str

In [64]:
round(9.6 - 5.7) # 9.6 - 5.7 = 3.9

4

In [65]:
round(9.6 - 7.2,3)

2.4

In [66]:
a = int(input("Enter a integer Value"))
a

67

In [67]:
b =int(input("Enter a int value"))
b

89

In [68]:
c = int(input("Enter a C value"))
c

56

In [69]:
O = (a+b)/c 
O

2.7857142857142856

In [70]:
O1 = O +(45+6j)
O1

(47.785714285714285+6j)

In [71]:
str(O1) + "My name is Rushikesh"

'(47.785714285714285+6j)My name is Rushikesh'

In [72]:
a = int(input("Enter a Number: "))
if a < 100 and a > 34 :
    print("Data input is a less than 100 and greater than 34")
elif a <= 34:
    print("Data input is a less than or equal to 34")
else:
    print("User input is above 100")

Data input is a less than 100 and greater than 34

In [73]:
Salary = int(input("Enter Your Salary: "))
if Salary >= 10000:
    print("I will buy a car")
elif Salary > 5000:
    print("I will go for bike")
elif Salary > 1000:
    print("I will not buy anything")
else:
    print("I will go for Saving")

I will buy a car

In [74]:
salary = int(input("enter your salary"))
if( salary > 1000):
    print("you salary is good")
    if salary > 5000:
        print("i will go with a car nano")
        if True:
            print("false code")
    elif salary >10000:
        print("i will go with maruti")
    elif salary > 50000:
        print("i wil go with toyota")
    else :
        print("i will rent a car ")
elif salary > 500:
    print(" i will go for bike ")
elif salary> 100:
    print("i will not buy anyting")
else :
    print("i will go for saving ")

you salary is good
i will go with a car nano
false code

In [75]:
a = 10
b = 20
if a == 10 and b >20:
    print("True_Statement")
elif a == 10 and b<= 20:
    print(" Condition is valid inside elif ")
else:
    print("Condition is not valid")

 Condition is valid inside elif

In [76]:
a = int(input("Enter a Value: "))
b = int(input("Enter a Value: "))
if a < 5 or b < 20:
    print("True_Statement")
elif a > 20 and b <= 50:
    print(" Condition is valid inside elif ")
else:
    print("Condition is not valid")

True_Statement

In [77]:
initial_speed = 25
final_speed = 100
count = 0
while initial_speed < final_speed:
    print("Speed is above 25")
    count += 1
    if count == 5:
        break
print("Speed is: ",final_speed)

Speed is above 25
Speed is above 25
Speed is above 25
Speed is above 25
Speed is above 25
Speed is:  100

### String

In [78]:
name = 'Rushikesh'
name

'Rushikesh'

In [79]:
name[5]

'k'

In [80]:
name[2:8]

'shikes'

In [81]:
name[2:7]

'shike'

In [82]:
name.upper()

'RUSHIKESH'

In [83]:
name.lower()

'rushikesh'

In [84]:
name[-2]

's'

In [85]:
name[7]

's'

In [86]:
S = "My Name is Rushikesh"
S

'My Name is Rushikesh'

In [87]:
len(S)

20

In [88]:
S[3:10] # Start : Stop

'Name is'

In [89]:
S[3:19:2] # Start : Stop : Step

'Nm sRsie'

In [90]:
S[-13] # 0 -> S[-19] , 1 -> -18,2 -> -17,... 19 -> -1

' '

In [91]:
S[-1:-10:-1]

'hsekihsuR'

In [92]:
S[10:2:-2] # S = My Name is Rushikesh

' iea'

In [93]:
S[2:-6]

' Name is Rus'

In [94]:
S[::-1] # Reverse the string

'hsekihsuR si emaN yM'

In [95]:
S[-2:10:-3]

'siu'

In [96]:
S.find("R")

11

In [97]:
S.find('gdy')

-1

In [98]:
s="my name is Rushikesh, name of org is Raudin"
s

'my name is Rushikesh, name of org is Raudin'

In [99]:
b=s.find("name")
for i in range(len("name")):
    print(b + i)

3
4
5
6

In [100]:
S[len(S)-1]

'h'

In [101]:
# String Membership
mystr = "Hi iNeuron Team"
print('Hi' in mystr)
print('Tera' in mystr)

True
False

In [102]:
# String Partitioning
str1 = "Natural Language Processing with Python and R and Java"
print(str1)
l = str1.partition("and")
print(l)
r = str1.rpartition("and")
print(r)

Natural Language Processing with Python and R and Java
('Natural Language Processing with Python ', 'and', ' R and Java')
('Natural Language Processing with Python and R ', 'and', ' Java')

In [103]:
# Update , Strings are immutable
A = 'How are you'
A[0:5]= 'Holaa'

TypeError: 'str' object does not support item assignment

In [104]:
# Delete 
del A
A

NameError: name 'A' is not defined

In [105]:
# String Concatenation
s1 = "Hello"
s2 = "Python"
s3 = s1+" "+s2
s3

'Hello Python'

String Iteration

In [106]:
for i in S:
    if i == 's':
        print(" I got s as a string")
    print(i)

M
y

N
a
m
e

i
 I got s as a string
s

R
u
 I got s as a string
s
h
i
k
e
 I got s as a string
s
h

In [107]:
for i in S:
    if i == "N":
        break
    print(i)

M
y

In [108]:
for i in S:
    if i == 'N':
        continue
    print(i)
else:
    if i == 'h':
        print("last char is: ",S[-1])

M
y

a
m
e

i
s

R
u
s
h
i
k
e
s
h
last char is:  h

In [109]:
for i in enumerate(S):
    print(i)

(0, 'M')
(1, 'y')
(2, ' ')
(3, 'N')
(4, 'a')
(5, 'm')
(6, 'e')
(7, ' ')
(8, 'i')
(9, 's')
(10, ' ')
(11, 'R')
(12, 'u')
(13, 's')
(14, 'h')
(15, 'i')
(16, 'k')
(17, 'e')
(18, 's')
(19, 'h')

In [110]:
list(enumerate(S))

[(0, 'M'),
 (1, 'y'),
 (2, ' '),
 (3, 'N'),
 (4, 'a'),
 (5, 'm'),
 (6, 'e'),
 (7, ' '),
 (8, 'i'),
 (9, 's'),
 (10, ' '),
 (11, 'R'),
 (12, 'u'),
 (13, 's'),
 (14, 'h'),
 (15, 'i'),
 (16, 'k'),
 (17, 'e'),
 (18, 's'),
 (19, 'h')]

### String functions

In [111]:
mystr1="  Hi Everyone  "
mystr1

'  Hi Everyone  '

In [112]:
mystr1.strip() # Removes white space from beginning & end

'Hi Everyone'

In [113]:
mystr1.rstrip() # Removes all Whitespaces at the End(Right side) of the string

'  Hi Everyone'

In [114]:
mystr1.lstrip() # Removes all Whitespaces at the beginning(Left side) of the string

'Hi Everyone  '

In [115]:
mystr2 = "******** Hi Everyone ********* All the Best ********"
mystr2

'******** Hi Everyone ********* All the Best ********'

In [116]:
# strip,lstrip,rstrip
be=mystr2.strip('*')
b=mystr2.lstrip('*')
e=mystr2.rstrip('*')
print(be)
print(b)
print(e)

 Hi Everyone ********* All the Best
 Hi Everyone ********* All the Best ********
******** Hi Everyone ********* All the Best

In [117]:
#lower
mystr.lower()

'hi ineuron team'

In [118]:
#upper
mystr.upper()

'HI INEURON TEAM'

String is a Immutable data but using replace() methode we replace the data

In [119]:
#replace
mystr.replace("Hi","Hello")

'Hello iNeuron Team'

In [120]:
mystr.replace(" ","") # Remove all Whitespaces using replace function

'HiiNeuronTeam'

In [121]:
mystr.replace('iNeuron','Raudin') # Replace('old','new')

'Hi Raudin Team'

In [122]:
# count,startswith,endswith
a = "One Two Three One Two Four Two One Three One"
a_1=a.count("One")
a_3=a.count("Three")
start = a.startswith("Two")
end = a.endswith("One")
print(a_1)
print(a_3)
print(start)
print(end)

4
2
False
True

In [123]:
# split() seperate the data and string data convert into list 
As=a.split()
As

['One', 'Two', 'Three', 'One', 'Two', 'Four', 'Two', 'One', 'Three', 'One']

In [124]:
a.split('T')

['One ', 'wo ', 'hree One ', 'wo Four ', 'wo One ', 'hree One']

In [125]:
#We use swapcase after split data
a.swapcase()

'oNE tWO tHREE oNE tWO fOUR tWO oNE tHREE oNE'

In [126]:
#join() 
" ".join(a)

'O n e   T w o   T h r e e   O n e   T w o   F o u r   T w o   O n e   T h r e e   O n e'

In [127]:
#Reversed
list(reversed(a))

['e',
 'n',
 'O',
 ' ',
 'e',
 'e',
 'r',
 'h',
 'T',
 ' ',
 'e',
 'n',
 'O',
 ' ',
 'o',
 'w',
 'T',
 ' ',
 'r',
 'u',
 'o',
 'F',
 ' ',
 'o',
 'w',
 'T',
 ' ',
 'e',
 'n',
 'O',
 ' ',
 'e',
 'e',
 'r',
 'h',
 'T',
 ' ',
 'o',
 'w',
 'T',
 ' ',
 'e',
 'n',
 'O']

In [128]:
for i in reversed(a):
    print(i)

e
n
O

e
e
r
h
T

e
n
O

o
w
T

r
u
o
F

o
w
T

e
n
O

e
e
r
h
T

o
w
T

e
n
O

In [129]:
# find
f = a.find("Four")
t = a.rfind("Three") # Last Occurence of word 'Three' in string
print(f)
print(t)

22
35

In [130]:
#index
fi = a.index("One")
se = a.rindex("Two") # Last Occurence of word 'Two' in string
print(fi)
print(se)

0
27

In [131]:
# Align
ce = a.center(65) # center align the string using a specific character
rj = a.rjust(50)
rjs = a.rjust(50,'*')
print(ce)
print(rj)
print(rjs)

           One Two Three One Two Four Two One Three One
      One Two Three One Two Four Two One Three One
******One Two Three One Two Four Two One Three One

In [132]:
ces = a.center(70,'$')
print(ces)

$$$$$$$$$$$$$One Two Three One Two Four Two One Three One$$$$$$$$$$$$$

In [133]:
x='rus\thi\tkes\th'
x

'rus\thi\tkes\th'

In [134]:
x.expandtabs() # Remove tabs

'rus     hi      kes     h'

In [135]:
B = '123A456B789C'
print(B.isalpha())     #Contains Only Letters
print(B.isalnum())     #Contains Only Letters and Numbers
print(B.isdecimal())   #Contains Only decimals(0-9)
print(B.isnumeric())   #Contains Only Numeric (0-9)

False
True
False
False

In [136]:
B = 'abvcodejd'
print(B.isalpha())     #Contains Only Letters
print(B.isalnum())     #Contains Only Letters and Numbers
print(B.isdecimal())   #Contains Only decimals(0-9)
print(B.isnumeric())   #Contains Only Numeric (0-9)

True
True
False
False

In [137]:
B = '1568399754'
print(B.isalpha())     #Contains Only Letters
print(B.isalnum())     #Contains Only Letters and Numbers
print(B.isdecimal())   #Contains Only decimals(0-9)
print(B.isnumeric())   #Contains Only Numeric (0-9)

False
True
True
True

In [138]:
C = 'ABCDEFG'
print(C.isupper())
print(C.islower())

True
False

In [139]:
C = 'shdryhf'
print(C.isupper())
print(C.islower())

False
True

In [140]:
E = 'hi hiu kkswyu'
print(E.isspace())

False

In [141]:
# Escape Charcter
D = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497502569.py, line 2)

In [142]:
D = "My favourite TV Series is \"Game of Thrones\""
D

'My favourite TV Series is "Game of Thrones"'

In [143]:
E = " One 11 two 12 three 14 four 67 seven 78"
num =[i for i in E if i.isdigit()]
num

['1', '1', '1', '2', '1', '4', '6', '7', '7', '8']

In [144]:
letters = [i for i in E if i.isalpha()]
letters

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 's',
 'e',
 'v',
 'e',
 'n']

Problem:
a = 'we are a part of Full stack'
1. Normalize all the the string in lowercase
2. Find number of occurences of 'a' in a Entire string
3. Find all the location/index of 'a' in string
4. replace all the 'a' with iNeuron
5. print all the word as list

In [145]:
a = "We are a part of Full Stack"
L_o = a.lower()
c_o = a.count('a')
print(L_o)
print(c_o)

we are a part of full stack
4

In [146]:
for i in range(len(a)):
    if(a[i]=='a'):
        print(i)

3
7
10
24

In [147]:
t = a.replace('a','iNeuron')
t

'We iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

In [148]:
a.split()

['We', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [149]:
h = "This is a Full Stack Data Science Batch"
l =len(h)
print(l)
count = 0
for i in h:
    count +=1
print('String length is:',count)

39
String length is: 39

In [150]:
j = 'Rushikesh'
for i in range(1,len(j)):
    print(j[-i])

h
s
e
k
i
h
s
u

In [151]:
ch=len(j)-1
while ch>=0:
    print(j[ch])
    ch-=1

h
s
e
k
i
h
s
u
R

In [152]:
name ='Rushikesh'
vowels='AaEeIiOoUu'
for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

R is not a vowel
u is a vowel
s is not a vowel
h is not a vowel
i is a vowel
k is not a vowel
e is a vowel
s is not a vowel
h is not a vowel

In [153]:
# Palindrom
k = input("Enter a data to check it is Palindrome or not? ") # xyx,2002,eye,nitin
k1 = k[::-1]
if k == k1:
    print("Its a Palindrome")
else:
    print("Its not Palindrome")

Its a Palindrome

## LIST

In [154]:
l1 = "Rushikesh"
l1 = list(l1)
l1

['R', 'u', 's', 'h', 'i', 'k', 'e', 's', 'h']

In [155]:
mylist =[10,20,30,40,'Edureka','DATA']
mylist

[10, 20, 30, 40, 'Edureka', 'DATA']

In [156]:
mylist[2:5]

[30, 40, 'Edureka']

In [157]:
mylist[2] = 35
mylist

[10, 20, 35, 40, 'Edureka', 'DATA']

In [158]:
# Add value in the last
mylist.append(70) 
mylist

[10, 20, 35, 40, 'Edureka', 'DATA', 70]

In [159]:
# Add the value 100 at index 5 
mylist.insert(5,100)
mylist

[10, 20, 35, 40, 'Edureka', 100, 'DATA', 70]

In [160]:
mylist.reverse()
mylist

[70, 'DATA', 100, 'Edureka', 40, 35, 20, 10]

In [161]:
total_items = list() #[]

In [162]:
total_items.append(69)

In [163]:
total_items.append(34.45)

In [164]:
total_items.append('Lets Upgrade')

In [165]:
total_items.append([1,2,3,4,5,6,7,8,9])

In [166]:
total_items

[69, 34.45, 'Lets Upgrade', [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [167]:
min(total_items)

TypeError: '<' not supported between instances of 'str' and 'float'

In [168]:
min([3,4,6,8,9,10])

3

In [169]:
min(["fsdfa3434","fsd","fsdfaaaaaaaaa","a" , "A"])

'A'

In [170]:
min("34345",234,234.345,"344")

TypeError: '<' not supported between instances of 'int' and 'str'

In [171]:
max([14,36,96,53,99])

99

In [172]:
max(["sudh" , "ineruon" , "AI","z"])

'z'

In [173]:
max(["sdfs","sdfs" , 234])

TypeError: '>' not supported between instances of 'int' and 'str'

In [174]:
sum([17,45,2,3,4,])

71

In [175]:
for i in total_items:
    print(i)

69
34.45
Lets Upgrade
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [176]:
for i in total_items:
    print(i,total_items.index(i))

69 0
34.45 1
Lets Upgrade 2
[1, 2, 3, 4, 5, 6, 7, 8, 9] 3

In [177]:
for i in total_items:
    print(f"Value is :{i}, index is :{total_items.index(i)}")

Value is :69, index is :0
Value is :34.45, index is :1
Value is :Lets Upgrade, index is :2
Value is :[1, 2, 3, 4, 5, 6, 7, 8, 9], index is :3

In [178]:
for i in range(len(total_items)):
    print(i)

0
1
2
3

In [179]:
for i in range(len(total_items)):
    print(f"Value is :{total_items[i]}, index is :{i}")

Value is :69, index is :0
Value is :34.45, index is :1
Value is :Lets Upgrade, index is :2
Value is :[1, 2, 3, 4, 5, 6, 7, 8, 9], index is :3

In [180]:
l = ['sudhanshu',1,3,45,6,[34,99]]
l2 = ["Rushikesh"]
l + l2

['sudhanshu', 1, 3, 45, 6, [34, 99], 'Rushikesh']

In [181]:
l2*2

['Rushikesh', 'Rushikesh']

In [182]:
len(l)

6

In [183]:
"sudhanshu" in l

True

In [184]:
l[::-1]

[[34, 99], 6, 45, 3, 1, 'sudhanshu']

In [185]:
for i in l:
    if type(i) == list:
        print("This is a list of list",i)
    else:
        print("Other element of list",i)

Other element of list sudhanshu
Other element of list 1
Other element of list 3
Other element of list 45
Other element of list 6
This is a list of list [34, 99]

In [186]:
l.append(6+7j)

In [187]:
l

['sudhanshu', 1, 3, 45, 6, [34, 99], (6+7j)]

In [188]:
l.insert(1,"Rushi")

In [189]:
l.insert(3,"iNeuron")
l

['sudhanshu', 'Rushi', 1, 'iNeuron', 3, 45, 6, [34, 99], (6+7j)]

In [190]:
l.insert(-4,"55") # input 55 as a string data
l

['sudhanshu', 'Rushi', 1, 'iNeuron', 3, '55', 45, 6, [34, 99], (6+7j)]

In [191]:
l.count('55')

1

In [192]:
l.extend('Test1')
l

['sudhanshu',
 'Rushi',
 1,
 'iNeuron',
 3,
 '55',
 45,
 6,
 [34, 99],
 (6+7j),
 'T',
 'e',
 's',
 't',
 '1']

In [193]:
l.extend([2,3,45,9])
l

['sudhanshu',
 'Rushi',
 1,
 'iNeuron',
 3,
 '55',
 45,
 6,
 [34, 99],
 (6+7j),
 'T',
 'e',
 's',
 't',
 '1',
 2,
 3,
 45,
 9]

In [194]:
s = 'test'
list(s)

['t', 'e', 's', 't']

In [195]:
l.index('55') # 55 is str

5

In [196]:
l.pop()

9

In [197]:
l.pop(0)

'sudhanshu'

In [198]:
l.remove('55')

In [199]:
l

['Rushi',
 1,
 'iNeuron',
 3,
 45,
 6,
 [34, 99],
 (6+7j),
 'T',
 'e',
 's',
 't',
 '1',
 2,
 3,
 45]

In [200]:
l.reverse()
l

[45,
 3,
 2,
 '1',
 't',
 's',
 'e',
 'T',
 (6+7j),
 [34, 99],
 6,
 45,
 3,
 'iNeuron',
 1,
 'Rushi']

In [201]:
l.sort()
l

TypeError: '<' not supported between instances of 'str' and 'int'

In [202]:
l3 = [1,33,455,67,89,98]
l3.sort()
l3

[1, 33, 67, 89, 98, 455]

### Problem: Take any list =[ [],[],[] ]
1. Append or Insert 2 more list and one Complex number in this list in     between a existing list
2. if your nested list contain string then findout its index in nested list and print it then remove the string in nested list
3. You have to extract second element of each remaining list

In [203]:
# Q1
ab = [[12,34,56],["Hi","Hello","Are",90.9,8,6],[78.87,45,9]]
ab.insert(2,[7,99,90])
ab.insert(0,[23,67,90,54,88,6])
ab.append(53+7j)
print(ab,'\n')

# Q2
for i in ab:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j +1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j +1

print("List after removal of string from nested list is :\n",ab)

[[23, 67, 90, 54, 88, 6], [12, 34, 56], ['Hi', 'Hello', 'Are', 90.9, 8, 6], [7, 99, 90], [78.87, 45, 9], (53+7j)]

Index of string Hi is : 0
Index of string Hello is : 1
Index of string Are is : 2
The string in the nested list is 'Hi'
The string in the nested list is 'Hello'
The string in the nested list is 'Are'
List after removal of string from nested list is :
 [[23, 67, 90, 54, 88, 6], [12, 34, 56], [90.9, 8, 6], [7, 99, 90], [78.87, 45, 9], (53+7j)]

In [204]:
# Q3
for i in ab:
    if type(i) == list:
        print(i[1])

67
34
8
99
45

List Comprehension

In [205]:
# Apeend list through for loop
f1 = []
for i in "Snehal":
    f1.append(i)
f1

['S', 'n', 'e', 'h', 'a', 'l']

In [206]:
# List of list
[[i] for i in "Rushi"]

[['R'], ['u'], ['s'], ['h'], ['i']]

In [207]:
# Even number list
f = []
for i in range(10):
    if i%2 == 0:
        f.append(i)
f

[0, 2, 4, 6, 8]

In [208]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [209]:
f2 = []
for i in range(10):
    if i%2 != 0:
        f2.append("Odd")
    else:
        f2.append("Even")

f2

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [210]:
["Odd" if i%2 !=0 else "Even" for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [211]:
# Matrix 4x4
mat = []
for i in range(4):
    mat.append([])
    for j in range(4):
        mat[i].append(j)
mat

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [212]:
[[j for j in range(4)] for i in range(4)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [213]:
Ei = []
for i in range(8):
    if i % 2 == 0:
        if i % 3 == 0:
            Ei.append(i)
Ei

[0, 6]

In [214]:
[i for i in range(8) if i % 2 == 0 if i % 3 == 0]

[0, 6]

In [215]:
ri = []
for i in range(10):
    ri.append(i)
ri

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [216]:
["Yes" if i == 1 else "No" if i == 2 else "Test" for i in ri]

['Test', 'Yes', 'No', 'Test', 'Test', 'Test', 'Test', 'Test', 'Test', 'Test']

In [217]:
res= []
for i in ri :
    if i == 1 :
        res.append("yes")
    elif i ==2 :
        res.append("no")
    else :
        res.append("test")
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [218]:
 l=["Sneha",34535,"hsihshh",True,45+6j,[34,556,99,"hdih"],67.98]
 l

['Sneha', 34535, 'hsihshh', True, (45+6j), [34, 556, 99, 'hdih'], 67.98]

In [219]:
l[0][2]  # [0] -> Sneha,[0][0] -> S,[0][1] -> n,[0][2] -> e

'e'

In [220]:
l[-1]

67.98

In [221]:
l[-3:]

[(45+6j), [34, 556, 99, 'hdih'], 67.98]

In [222]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [223]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [224]:
for i in l:
    if type(i) == list:
        n = 0
        for j in i:
            if type(j) == int:
                n +=j
        print(n)

        print(type(j))

689
<class 'str'>

In [225]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [226]:
List = [123,67.98,"Rushi",True,45+78j,[24,56,89,"Hi",7.8,False],67]
List

[123, 67.98, 'Rushi', True, (45+78j), [24, 56, 89, 'Hi', 7.8, False], 67]

In [227]:
List.append("nine")
List

[123,
 67.98,
 'Rushi',
 True,
 (45+78j),
 [24, 56, 89, 'Hi', 7.8, False],
 67,
 'nine']

In [228]:
List.insert(6,'ten') # Add item at index location 6
List

[123,
 67.98,
 'Rushi',
 True,
 (45+78j),
 [24, 56, 89, 'Hi', 7.8, False],
 'ten',
 67,
 'nine']

In [229]:
List.remove('nine')
List

[123,
 67.98,
 'Rushi',
 True,
 (45+78j),
 [24, 56, 89, 'Hi', 7.8, False],
 'ten',
 67]

In [230]:
List.pop() # Remove last item at the first

67

In [231]:
List.pop(6)  # Remove item at index 6

'ten'

In [232]:
del List[3]  # Remove item at index 3

In [233]:
List

[123, 67.98, 'Rushi', (45+78j), [24, 56, 89, 'Hi', 7.8, False]]

In [234]:
List[0] = 1
List[1] = 2
List[2] = 3
List

[1, 2, 3, (45+78j), [24, 56, 89, 'Hi', 7.8, False]]

In [235]:
List.clear()   # Empty List /Delete All items in the list
List

[]

In [236]:
del List  # Delete The whole List

In [237]:
List = [123,67.98,"Rushi",True,45+78j,[24,56,89,"Hi",7.8,False],67]
List1 = List # Create  a new reference List

In [238]:
id(List1) , id(List)

(2283842679552, 2283842679552)

In [239]:
List2=List.copy()
id(List2)

2283842920768

In [240]:
print(List)
print(List1)
print(List2)

[123, 67.98, 'Rushi', True, (45+78j), [24, 56, 89, 'Hi', 7.8, False], 67]
[123, 67.98, 'Rushi', True, (45+78j), [24, 56, 89, 'Hi', 7.8, False], 67]
[123, 67.98, 'Rushi', True, (45+78j), [24, 56, 89, 'Hi', 7.8, False], 67]

In [241]:
# Join Lists
list1 = ["One","Two",'Three','Four']
list2 = ['Five','Six','Seven','Eight']
list3 = list1 + list2
list3

['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight']

In [242]:
list1.extend(list2)
list1

['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight']

In [243]:
'One' in list1

True

In [244]:
'Ten' in list1

False

In [245]:
for i in list1:
    if 'Three' in i:
        print("Three is present in list")
    elif 'Seven' in i:
        print("Seven is present in list")
    elif 'Eleven' in i:
        print("Eleven is present in list")
    else:
        print("Element Not Present in list")

Element Not Present in list
Element Not Present in list
Three is present in list
Element Not Present in list
Element Not Present in list
Element Not Present in list
Seven is present in list
Element Not Present in list

In [246]:
list3.reverse()
list3

['Eight', 'Seven', 'Six', 'Five', 'Four', 'Three', 'Two', 'One']

In [247]:
list3 = list3[::-1]
list3

['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight']

In [248]:
'; '.join(list3)

'One; Two; Three; Four; Five; Six; Seven; Eight'

In [249]:
' ,'.join(list3)

'One ,Two ,Three ,Four ,Five ,Six ,Seven ,Eight'

In [250]:
G=[3,3,47,87,2,1,90,35,26,57,49,53,62,79,84]
G.sort()
G

[1, 2, 3, 3, 26, 35, 47, 49, 53, 57, 62, 79, 84, 87, 90]

In [251]:
G.sort(reverse=True)
G

[90, 87, 84, 79, 62, 57, 53, 49, 47, 35, 26, 3, 3, 2, 1]

In [252]:
sorted(G)

[1, 2, 3, 3, 26, 35, 47, 49, 53, 57, 62, 79, 84, 87, 90]

In [253]:
for i in enumerate(list1):
    print(i)

(0, 'One')
(1, 'Two')
(2, 'Three')
(3, 'Four')
(4, 'Five')
(5, 'Six')
(6, 'Seven')
(7, 'Eight')

In [254]:
Li = ['one','two','three','one','two']
Li.count('one')

2

### All()
**True**  : if all elements in a list are True<br>
**False** : if all elements in a list are False

In [255]:
L1 = [1,2,3,4,0]
print(all(L1)) # Will Return false as one value is false(Value 0)

False

In [256]:
# The any() function returns True if any element in the list is True. 
# if not ,any() returns False
any(L1)

True

In [257]:
L2 = [1,2,3,4,True,False]
all(L2)

False

In [258]:
any(L2)

True

In [259]:
# List Comprehension
my_list = [i for i in range(200) if i%3==0 if i%9==0 if i%12==0]
my_list

[0, 36, 72, 108, 144, 180]

In [260]:
totalInput = list()

In [261]:
for i in range(6):
    totalInput.append(input('Please Enter your Fav fruit :')) 

# 'lichi', 'mango', 'Papaya', 'Watermelon', 'Jackfruit', 'Oranges'

In [262]:
totalInput

['', 'Lichi', 'mango', 'Papaya', 'Watermelon', 'Jackfruit']

In [263]:
for each_fruit in totalInput:
    print(each_fruit)

Lichi
mango
Papaya
Watermelon
Jackfruit

In [264]:
for each_fruit in range(len(totalInput)):
    print(each_fruit,totalInput[each_fruit])

0
1 Lichi
2 mango
3 Papaya
4 Watermelon
5 Jackfruit

In [265]:
for index,item in enumerate(totalInput):
    print(index,item)

0
1 Lichi
2 mango
3 Papaya
4 Watermelon
5 Jackfruit

In [266]:
print(*totalInput, sep= '---')

---Lichi---mango---Papaya---Watermelon---Jackfruit

In [267]:
for i in totalInput:
    print(i,end = '--')

--Lichi--mango--Papaya--Watermelon--Jackfruit--

In [268]:
'--->'.join(totalInput)

'--->Lichi--->mango--->Papaya--->Watermelon--->Jackfruit'

In [269]:
for i in totalInput:
    if i.startswith('P'):
        print(f"This fruit starts with P :{i}")
    else:
        print(f"This fruit does not start with P :{i}")

This fruit does not start with P :
This fruit does not start with P :Lichi
This fruit does not start with P :mango
This fruit starts with P :Papaya
This fruit does not start with P :Watermelon
This fruit does not start with P :Jackfruit

In [270]:
for i in totalInput:
    if i.startswith('P'):
        print(f"This fruit starts with P :{i}")
    elif i.startswith('O'):
        print(f"This fruit starts with O :{i}")
    elif i.startswith('W'):
        print(f"This fruit starts with O :{i}")
    else:
        print(f"This fruit does not start with P,O,W :{i}")

This fruit does not start with P,O,W :
This fruit does not start with P,O,W :Lichi
This fruit does not start with P,O,W :mango
This fruit starts with P :Papaya
This fruit starts with O :Watermelon
This fruit does not start with P,O,W :Jackfruit

In [271]:
# List comprehension
[f"This is :{i}" for i in totalInput if i.startswith('l')]

[]

In [272]:
items = [2,4,78,99,'A','b','C','d',True,False,True,[45,103],{'Fan': 'Bajaj'},78.99]

In [273]:
for eachIndex,eachItem in enumerate(items):
    print(eachIndex,eachItem,type(eachItem))

0 2 <class 'int'>
1 4 <class 'int'>
2 78 <class 'int'>
3 99 <class 'int'>
4 A <class 'str'>
5 b <class 'str'>
6 C <class 'str'>
7 d <class 'str'>
8 True <class 'bool'>
9 False <class 'bool'>
10 True <class 'bool'>
11 [45, 103] <class 'list'>
12 {'Fan': 'Bajaj'} <class 'dict'>
13 78.99 <class 'float'>

In [274]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==int:
        print(f"This is Integer Values(and added 2 ):{eachItem+2}")
    elif type(eachItem)==float:
        print(f"This is Float Values (added 0.5) :{eachItem+0.5}")
    elif type(eachItem)==str:
        print(f"This is String Values(added '!') :{eachItem+'!'}")
    elif type(eachItem)==bool:
        print(f"This is Boolian Values :{eachItem}")
    elif type(eachItem)==list:
        print(f"This is List (sum of list):{sum(eachItem)}")
    else:
        print(f"This is Dictionary Values(all the items) :{eachItem.items()}")

This is Integer Values(and added 2 ):4
This is Integer Values(and added 2 ):6
This is Integer Values(and added 2 ):80
This is Integer Values(and added 2 ):101
This is String Values(added '!') :A!
This is String Values(added '!') :b!
This is String Values(added '!') :C!
This is String Values(added '!') :d!
This is Boolian Values :True
This is Boolian Values :False
This is Boolian Values :True
This is List (sum of list):148
This is Dictionary Values(all the items) :dict_items([('Fan', 'Bajaj')])
This is Float Values (added 0.5) :79.49

## Tuple

In [275]:
t = ()
type(t)

tuple

In [276]:
tuple_a = tuple()
type(tuple_a)

tuple

In [277]:
## tuple have only two methods 1.count and 2.index
tuple_a = (1,7,3,4,7,6,7,8)
len(tuple_a)

8

In [278]:
tuple_a.index(4)

3

In [279]:
tuple_a.count(7)

3

In [280]:
tuple_a.count(78)

0

In [281]:
sum(tuple_a)

43

In [282]:
max(tuple_a)

8

In [283]:
min(tuple_a)

1

In [284]:
tuple_a[0:4]

(1, 7, 3, 4)

In [285]:
tuple_a[::-1]

(8, 7, 6, 7, 4, 3, 7, 1)

In [286]:
tuple_a[5]= "kuhsjs"

TypeError: 'tuple' object does not support item assignment

In [287]:
tuple_b = (24,465,3,True)
tuple_a + tuple_b

(1, 7, 3, 4, 7, 6, 7, 8, 24, 465, 3, True)

In [288]:
tuple_a*2

(1, 7, 3, 4, 7, 6, 7, 8, 1, 7, 3, 4, 7, 6, 7, 8)

In [289]:
7 in tuple_a

True

In [290]:
3 in tuple_b

True

In [291]:
max(tuple_b)

465

In [292]:
min(tuple_a)

1

In [293]:
tuple_a.index(4)

3

In [294]:
# Insert data into tuple
t1 =(13,24,35,46,57)
t2 = (78,89,65,98.09)
t1 + t2

(13, 24, 35, 46, 57, 78, 89, 65, 98.09)

In [295]:
t3 = list(t1)
t3.insert(2,78)
t3.insert(5,t2)
t3

[13, 24, 78, 35, 46, (78, 89, 65, 98.09), 57]

In [296]:
t4 = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])
t4

((3, 4, 5, 6, 7), ('sdfsd', 45, 45), ('454', 54), 45, 454, 67, [4, 5, 6, 7, 7])

In [297]:
t4[6][1:4]

[5, 6, 7]

In [298]:
t4[1][0]

'sdfsd'

In [299]:
for i in t4:
    if type(i) == tuple:
        print(i[0])

3
sdfsd
454

In [300]:
if len(t1) == len(t2):
    print("It's same")
else:
    print("It's not same")

It's not same

In [301]:
t5 = ("Rushi",67,97,97,88,67,97,54,"Kumar",7)
i = input("Enter Your name: ")
print(i)
if i in t5:
    print("Yes your name is available")
else:
    print("Your name is not available")

Your name is not available

In [302]:
del t5[3]

TypeError: 'tuple' object doesn't support item deletion

In [303]:
for i in enumerate(t5):
    print(i)

(0, 'Rushi')
(1, 67)
(2, 97)
(3, 97)
(4, 88)
(5, 67)
(6, 97)
(7, 54)
(8, 'Kumar')
(9, 7)

In [304]:
t5.count(97)

3

In [305]:
# Tuple Membership
'Kumar' in t5

True

In [306]:
t5.index(88)

4

In [307]:
del(t5)
t5

NameError: name 't5' is not defined

In [308]:
# Sorting
t6 = (78,35,3,378,208,3542,890)
sorted(t6)

[3, 35, 78, 208, 378, 890, 3542]

In [309]:
sorted(t6,reverse=True)

[3542, 890, 378, 208, 78, 35, 3]

## SET

In [310]:
a = {12,34,56,78,90}
print(type(a))
print(a)

<class 'set'>
{34, 56, 90, 12, 78}

In [311]:
b = set()
type(b)

set

In [312]:
c = {}
type(c)

dict

In [313]:
# Set has unique values
set_a = {1,2,3,4,5,6,7,7,7,8,9,9,3,2}
set_a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [314]:
sum(set_a)

45

In [315]:
max(set_a)

9

In [316]:
min(set_a)

1

In [317]:
len(set_a)

9

In [318]:
sert=list(set_a)
sorted(sert)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [319]:
set_b = set()
set_b.add(6)
set_b.add(6)
set_b.add(6)
set_b

{6}

In [320]:
s = {34,45,45,"sudh","sudh","sudh","kumar" ,[45,545,4545,545]}
s

TypeError: unhashable type: 'list'

In [321]:
s = [34,45,45,45,45,67,34,56,78,"sudh","sudh","sudh","kumar" ,45,454545454,545,4545,545]
s = set(s)
s

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'kumar', 'sudh'}

In [322]:
a + s

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [323]:
s * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [324]:
s1 = list(s)
s1

[545, 34, 67, 4545, 'kumar', 45, 78, 454545454, 'sudh', 56]

In [325]:
s1.append(67)
s1

[545, 34, 67, 4545, 'kumar', 45, 78, 454545454, 'sudh', 56, 67]

In [326]:
s2 = set(s1)
s2

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'kumar', 'sudh'}

In [327]:
s3 = tuple(s1)
s3

(545, 34, 67, 4545, 'kumar', 45, 78, 454545454, 'sudh', 56, 67)

In [328]:
s2[0]

TypeError: 'set' object is not subscriptable

In [329]:
s.add("Rushi")
s

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'Rushi', 'kumar', 'sudh'}

In [330]:
for i in enumerate(s):
    print(i)

(0, 545)
(1, 34)
(2, 67)
(3, 4545)
(4, 'kumar')
(5, 45)
(6, 78)
(7, 454545454)
(8, 'sudh')
(9, 'Rushi')
(10, 56)

In [331]:
45 in s

True

In [332]:
47 in s

False

In [333]:
st = s    # Copy set
print(st)

{545, 34, 67, 4545, 'kumar', 45, 78, 454545454, 'sudh', 'Rushi', 56}

In [334]:
st.add(67)
st

{34, 45, 4545, 454545454, 545, 56, 67, 78, 'Rushi', 'kumar', 'sudh'}

In [335]:
s.add([8678,454])

TypeError: unhashable type: 'list'

In [336]:
s.update(['Ten','Nine'])
s

{34,
 45,
 4545,
 454545454,
 545,
 56,
 67,
 78,
 'Nine',
 'Rushi',
 'Ten',
 'kumar',
 'sudh'}

In [337]:
s.remove(45)
s

{34, 4545, 454545454, 545, 56, 67, 78, 'Nine', 'Rushi', 'Ten', 'kumar', 'sudh'}

In [338]:
s.discard(78)
s

{34, 4545, 454545454, 545, 56, 67, 'Nine', 'Rushi', 'Ten', 'kumar', 'sudh'}

In [339]:
del s 
s

NameError: name 's' is not defined

In [340]:
s1 = {67,90,'fgj',68.9}
s1

{67, 68.9, 90, 'fgj'}

In [341]:
s1.clear()
s1

set()

Set Operations

In [342]:
# Union
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [343]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [344]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [345]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [346]:
# Intersection
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a & b

{4, 5}

In [347]:
a.intersection(b) # Intersection of a and b

{4, 5}

In [348]:
a.intersection_update(b)
a

{4, 5}

In [349]:
# Difference
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a - b

{1, 2, 3}

In [350]:
a.difference(b)

{1, 2, 3}

In [351]:
b.difference(a)

{6, 7, 8}

In [352]:
# Symmetric Difference
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a ^ b

{1, 2, 3, 6, 7, 8}

In [353]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [354]:
c = {1,2,3,4,5}
d = {4,5,6,7,8}
c.symmetric_difference_update(d)
c

{1, 2, 3, 6, 7, 8}

In [355]:
# subset
a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40,50}
b.issubset(a)

True

In [356]:
# Superset
a.issuperset(b)

True

In [357]:
# Disjoint
b.isdisjoint(a)

False

In [358]:
c.isdisjoint(a)

True

In [359]:
s3 = {}
s3.add("sdfsd")
s3.add(234)
s3.add(345)
s3.add("wer")
s3

AttributeError: 'dict' object has no attribute 'add'

### Dictionary

In [360]:
x = {}
type(x)

dict

In [361]:
x1 = {56,783,789}
type(x1)

set

In [362]:
set_c = {}
set_c.add()

AttributeError: 'dict' object has no attribute 'add'

In [363]:
dict_a = {}
dict_a['name'] = 'LU'
dict_a[5] = '5'
dict_a

{'name': 'LU', 5: '5'}

In [364]:
x = {"name " :"Rushi"  , "age": 22}
x

{'name ': 'Rushi', 'age': 22}

In [365]:
x1 = {"name " :"sudh"  , "age": 34 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}
x1

{'name ': 'sudh',
 'age': 34,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [366]:
x2 = {"name " :{"k1":"war",'k4' :[345,534535,534,]} , "age": 34 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}
x2

{'name ': {'k1': 'war', 'k4': [345, 534535, 534]},
 'age': 34,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [367]:
x2[34554]

(45, 45, 45, 45)

In [368]:
x2["_sfsdf"][3]

54

In [369]:
x2["name "]['k4'][2]

534

In [370]:
x1 + x4

NameError: name 'x4' is not defined

In [371]:
x4 * 5

NameError: name 'x4' is not defined

In [372]:
x3 = {5:"wer",'k4' :[345,534535,534,]} 
print(x3)
x3['k4'] = 456
print(x3)

{5: 'wer', 'k4': [345, 534535, 534]}
{5: 'wer', 'k4': 456}

In [373]:
x3['k4'] -= 10
x3

{5: 'wer', 'k4': 446}

In [374]:
x3['k4'] = x3['k4'] -10
x3

{5: 'wer', 'k4': 436}

In [375]:
x3.keys()

dict_keys([5, 'k4'])

In [376]:
'k4' in x3.keys()

True

In [377]:
for i in x3:
    print(i)

5
k4

In [378]:
e = {56: {45, 78, 89}}
e[56]

{45, 78, 89}

In [379]:
list(e[56])[0]

89

In [380]:
len(x2)

6

In [381]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, '_sfsdf'])

In [382]:
for i in x2.keys():
    print(x2[i])
    print(type(x2[i]))

{'k1': 'war', 'k4': [345, 534535, 534]}
<class 'dict'>
34
<class 'int'>
{34545, 454, 45, 54}
<class 'set'>
False
<class 'bool'>
(45, 45, 45, 45)
<class 'tuple'>
[34, 45, 454, 54, 545]
<class 'list'>

In [383]:
x2.items()

dict_items([('name ', {'k1': 'war', 'k4': [345, 534535, 534]}), ('age', 34), (True, {34545, 454, 45, 54}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [384]:
for i in x2.items():
    print(i[1])

{'k1': 'war', 'k4': [345, 534535, 534]}
34
{34545, 454, 45, 54}
False
(45, 45, 45, 45)
[34, 45, 454, 54, 545]

In [385]:
# dict also known Json
Courses = {1:'Python',2:'Data Science','third': 'Machine Learning'}
Courses

{1: 'Python', 2: 'Data Science', 'third': 'Machine Learning'}

In [386]:
Courses['third']

'Machine Learning'

In [387]:
Courses.get('third')

'Machine Learning'

In [388]:
Courses['third']= 'Tableau'
Courses

{1: 'Python', 2: 'Data Science', 'third': 'Tableau'}

In [389]:
Courses['Fourth'] = 'Machine Learning'
Courses

{1: 'Python',
 2: 'Data Science',
 'third': 'Tableau',
 'Fourth': 'Machine Learning'}

In [390]:

{
    'name': 'Lets Upgrade',
     'Age': 22,
}

{'name': 'Lets Upgrade', 'Age': 22}

In [391]:
information = dict()

In [392]:
information = {}
type(information)

dict

In [393]:
information['Name']= 'Lets Upgrade'
information

{'Name': 'Lets Upgrade'}

In [394]:
information['Age']= 22
information

{'Name': 'Lets Upgrade', 'Age': 22}

In [395]:
# Update method
information.update({'Address':'INDIA'})
information

{'Name': 'Lets Upgrade', 'Age': 22, 'Address': 'INDIA'}

In [396]:
information['Age']

22

In [397]:
# Dictionary has unique keys but not have unique values
information['Name'] = 'Lets Upgrade - India'
information

{'Name': 'Lets Upgrade - India', 'Age': 22, 'Address': 'INDIA'}

In [398]:
information['Address 2']= 'India'
information

{'Name': 'Lets Upgrade - India',
 'Age': 22,
 'Address': 'INDIA',
 'Address 2': 'India'}

In [399]:
information.get('Marks')

In [400]:
information.get('Marks','Does Not Exist')

'Does Not Exist'

In [401]:
information.keys()

dict_keys(['Name', 'Age', 'Address', 'Address 2'])

In [402]:
information.values()

dict_values(['Lets Upgrade - India', 22, 'INDIA', 'India'])

In [403]:
information.items()

dict_items([('Name', 'Lets Upgrade - India'), ('Age', 22), ('Address', 'INDIA'), ('Address 2', 'India')])

In [404]:
for key,value in information.items():
    print(key,value)

Name Lets Upgrade - India
Age 22
Address INDIA
Address 2 India

In [405]:
for key in information:
    print(key)

Name
Age
Address
Address 2

In [406]:
for key in information.keys():
    print(key)

Name
Age
Address
Address 2

In [407]:
for key in information:
    print(key,information[key])

Name Lets Upgrade - India
Age 22
Address INDIA
Address 2 India

In [408]:
info1 = information # Copy 
info1

{'Name': 'Lets Upgrade - India',
 'Age': 22,
 'Address': 'INDIA',
 'Address 2': 'India'}

In [409]:
information.pop('Age')
information

{'Name': 'Lets Upgrade - India', 'Address': 'INDIA', 'Address 2': 'India'}

In [410]:
information.popitem()
information

{'Name': 'Lets Upgrade - India', 'Address': 'INDIA'}

In [411]:
del [information['Address']]
information

{'Name': 'Lets Upgrade - India'}

In [412]:
information.clear()

In [413]:
del info1
info1

NameError: name 'info1' is not defined

Problem: Take a Paragraph by using input function 
1. Convert all of This input into List of words
2. Remove all the duplicate element from your list
3. Use above distinct element as a key for dictionary and assign your name as value for dictionary
4. Try to print tuple of all dictionay keys 
5. Take to print list of all dictionry values

In [414]:
# Q1
n = input("Enter A Paragraph ") # Hi how Hi are you Hi
print("Paragraph is: ",n)

w = n.split(" ")
print(w)

# Q2
no_dupli = set(w)
print(no_dupli)

# Q3
dicti = {}
for i in no_dupli:
    dicti[i]="Rushi"

print(dicti)

# Q4
li = []
for i in dicti.keys():
    li.append(i)

print("Tuple of all Keys: \n",tuple(li))

# Q5
li = []
for i in dicti.values():
    li.append(i)

print("List of all values: \n",li)

Paragraph is:  Hi How Hi are Hi You
['Hi', 'How', 'Hi', 'are', 'Hi', 'You']
{'are', 'How', 'You', 'Hi'}
{'are': 'Rushi', 'How': 'Rushi', 'You': 'Rushi', 'Hi': 'Rushi'}
Tuple of all Keys:
 ('are', 'How', 'You', 'Hi')
List of all values:
 ['Rushi', 'Rushi', 'Rushi', 'Rushi']

In [415]:
paragph = input("Enter the para:")
print(paragph)
# Q1
lst1=paragph.split(" ")
print(lst1)
# Q2
s1=set(lst1)
print(s1)
# Q3
dic1=dict.fromkeys(s1,'Rushi')
print(dic1)
# Q4
t1=tuple(dic1.keys())
print(t1)
# Q5
l2=list(dic1.values())
print(l2)

Hi how Hi are You Hi
['Hi', 'how', 'Hi', 'are', 'You', 'Hi']
{'are', 'You', 'how', 'Hi'}
{'are': 'Rushi', 'You': 'Rushi', 'how': 'Rushi', 'Hi': 'Rushi'}
('are', 'You', 'how', 'Hi')
['Rushi', 'Rushi', 'Rushi', 'Rushi']

In [416]:
d = {"company":"ineuron" ,"course": "full stack data science" , "year" : 2022}
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [417]:
for i in d :
    print(" print a key  : " ,i  , " ; ", "value wise :  " , d[i])

 print a key  :  company  ;  value wise :   ineuron
 print a key  :  course  ;  value wise :   full stack data science
 print a key  :  year  ;  value wise :   2022

In [418]:
"course" in d

True

In [419]:
for i in d :
    if i == 'year':
        if d[i] > 2022:
            print("year is fine ")
        else :
            d[i] = 2023

In [420]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2023}

In [421]:
my_dict = {}
for i in range(10):
    my_dict[i] = i *i
    
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [422]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}

In [423]:
keys = {'a','b','c','d','e'}
value = "Rushi"
mydict = dict.fromkeys(keys,value)
mydict

{'a': 'Rushi', 'c': 'Rushi', 'd': 'Rushi', 'b': 'Rushi', 'e': 'Rushi'}

In [424]:
keys = {'a','b','c','d','e'}
value = ["Rushi","Kumar"]
mydict1 = dict.fromkeys(keys,value)
mydict1

{'a': ['Rushi', 'Kumar'],
 'c': ['Rushi', 'Kumar'],
 'd': ['Rushi', 'Kumar'],
 'b': ['Rushi', 'Kumar'],
 'e': ['Rushi', 'Kumar']}

In [425]:
str = 'abcdefghijklmnopqrstuvwxyz'
mydict2 = {i:i.upper() for i in str} # Lower to uppercase
mydict2

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}